---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
  comments:
    min-spaces-from-content: 1
  truthy:
    allowed: ['true', 'false', 'yes', 'no']
    check-keys: false
  document-start: disable
  comments-indentation: disable
